<h1><%= image_tag "login.png", :alt => "login" %></h1>

<%= form_tag session_path do -%>
  <%= label_tag 'login' %>
  <div class="window">
    <div class="window_left"></div>
    <%= text_field_tag 'login', @login %>
    <div class="window_right"></div>
  </div>


  <%= label_tag 'password' %>
  <div class="window">
    <div class="window_left"></div>
    <%= password_field_tag 'password', nil %>
    <div class="window_right"></div>
  </div>
  
  <%= submit_tag 'Log in', :class => "submit" %>
<% end -%>