<table>
  <tr>
    <th>Customer</th>
    <th>Arrival</th>
    <th>Pickup</td>
    <th>Flight</td>
  </tr>
  
  <% items.each do |booking| %>
    <tr class="top_info">
      <td class="customer"><%= booking.customer.name if booking.customer %><%#= link_to(booking.customer.name, edit_customer_path(booking.customer)) if booking.customer %></td>
      <td class="arrival"><%= booking.arrival %></td>
      <td class="pickup"><%= booking.pickup %></td>
      <td class="flight"><%= booking.flight %></td>
    </tr>
    <tr class="bottom_info">
      <td>
        <p>Room: <%= booking.room %></p>
        <p>Ref: <%= booking.ref %></p>
        <p>Departure: <%= booking.departure %></p>
      </td>
      <td colspan="2">
        <%= booking.camp.name if booking.camp %>
        <br />
        Info: <%= booking.text %>
      </td>
      <td class="actions"><%= link_to 'Edit', edit_booking_path(booking) %><%= link_to 'Delete', booking, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>