<%= error_messages_for @booking %>

<%= form_for(@booking) do |f| %>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.select :customer_id, Customer.for_select %>
    <%#= text_field_with_auto_complete :booking, :customer_name %>
    <%#= text_field_with_auto_complete :booking, :customer_name, {  }, { :url => formatted_search_customers_path(:js), :param_name => 'search' } %>
  </div>
  <div class="field">
    <%= f.label :room %><br />
    <%= f.text_field :room %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, :size => "30x5" %>
  </div>
  <div class="field">
    <%= f.label :ref %><br />
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :arrival %><br />
    <%= f.date_select :arrival %>
  </div>
  <div class="field">
    <%= f.label :departure %><br />
    <%= f.date_select :departure %>
  </div>
  <div class="field">
    <%= f.label :pickup %><br />
    <%= f.datetime_select :pickup %>
  </div>
  <div class="field">
    <%= f.label :flight %><br />
    <%= f.text_field :flight %>
  </div>
  <div class="field">
    <%= f.label :camp_id %><br />
    <%= f.select :camp_id, Camp.for_select, {}, :size => 2 %>
  </div>
  <br >
  <%= f.submit %>
<% end %>