<h1>Admins</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Login</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @users.each do |obj| %>
    <tr>
      <td><%= obj.id %></td>
      <td><%= obj.login %></td>
      <td><%= obj.name %></td>
      <td><%= obj.email %></td>
      <td class="admin_links">
        <%= link_to '', edit_user_path(obj), :class => "edit" %>
        <%= link_to '', obj, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %>
      </td>
    </tr>
  <% end %>
</table>