<h1>Customers</h1>

<%= render :partial => "filter_form" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>Country</th>
    <th>Code</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>
  <% @objects.each do |obj| %>
    <tr>
      <td><%= obj.name %></td>
      <td><%= obj.address %></td>
      <td><%= obj.city %></td>
      <td><%= obj.country %></td>
      <td><%= obj.postcode %></td>
      <td><%= obj.tel %></td>
      <td><%= obj.email %></td>
      <td>
        <%= link_to '', bookings_customer_url(obj), :class => "show" %>
        <%= link_to '', edit_customer_path(obj), :class => "edit" %>
        <%= link_to '', obj, :confirm => 'Are you sure?', :method => :delete, :class => "delete" %>
      </td>
    </tr>
  <% end %>
</table>